<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <title>C Tracker - Track the Corona</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="description" content="Template by Dry Themes" />
        <meta name="keywords" content="HTML, CSS, JavaScript, PHP" />
        <meta name="author" content="DryThemes" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link rel="shortcut icon" href="assets/images/favicon.png" />    
        <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,700i,900%7CMontserrat:400,700%7CPT+Serif' rel='stylesheet' type='text/css'>	
        <link rel="stylesheet" type="text/css"  href='assets/css/clear.css' />
        <link rel="stylesheet" type="text/css"  href='assets/css/common.css' />
        <link rel="stylesheet" type="text/css"  href='assets/css/font-awesome.min.css' />
        <link rel="stylesheet" type="text/css"  href='assets/css/carousel.css' />
        <link rel="stylesheet" type="text/css"  href='assets/css/clean.css' />        
        <link rel="stylesheet" type="text/css"  href='assets/css/style.css' />
         <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="Visualize currently reported CoVID-19 patients contamination radius.">
        <link href="../css/style.css" rel="stylesheet">
        <link href="lib/leaflet.zoomdisplay.css" rel="stylesheet">
        <link rel="stylesheet" href="index.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
        <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <body class="page">

        <table class="doc-loader">
            <tbody>
                <tr>
                    <td>
                        <img src="assets/images/ctrackerlogo.png" alt="Loading...">                    
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="body-wrapper"> 
            <section id="map-section">         
                <div class="header-holder center-relative relative">
                    <div class="header-logo center-text">
                        <a href="index.html">
                            <img style="width: 250px;" src="assets/images/ctrackerlogo.png" alt="C Tracker">
                        </a>               
                    </div>
                    <div class="clear"></div>	
                </div>
                
                <div class="block content-1170 center-relative"> 
                  <div class="visualizer">
    <!-- Shown when heatmap is editted -->
    <div class="container hidden" id="popupbox">
        <div class="content">
            <!-- Intro, before editting -->
            <div id="intro" class="content-box hidden">
                <h2>CTracker | Heatmap - Record CoVID-19 Patient Travel</h2>
                <p>This tool works by adding heat trail <b>wherever your mouse moves</b>. The recording <b>will not start</b> unless you <b>click on the mouse</b> at the <b>starting point</b>. Ideally zoom in all the way to 17 for marking precise locations of visit. Zoom out to 14 before marking paths taken for travel.</p>
                <p>To <b>stop the recording</b>, just <b>click</b> when you reach an <b>end position</b> on the map. If you want to undo a recording after it has been stopped, please use the additional controls available in the record menu at the bottom of the map. If recording is verified to be correct by yourself, submit it by selection the submit option in the record menu at the bottom. YOU WILL BE REQUIRED TO ENTER THE PATIENT ID AND TIMEFRANE OF PATIENTS PRESENSE AT THE RECORDED LOCATION WHILE SUBMITTING. PLEASE ENSURE NOT TO RECORD LONG TIMEFRAMES ON ONE GO.</p>
                <p>KINDLY ENTER YOUR NAME BEFORE BEGINNING THE PROCESS FOR INTERNAL VERIFICATION.</p>
                <p class="fallback"><b>NAME</b>: <input name="recorderName" type="text" id="recorderName"></input></p>
                <p><button id="startRecordBtn">RECORD</button></p>
            </div>

            <!-- Shown when the submit button is clicked for a recording -->
            <div id="submit" class="content-box hidden">
                    <h2>CTracker | Heatmap - Submit CoVID-19 Patient Travel</h2>
                    <p class="fallback"><b>PATIENT ID</b>:<input name="patientId" type="text" id=patientId></input></p>
                    <p class="fallback"><b>Start Date of Travel</b>:<input name="patientStartDate" type="date" id=patientStartDate></input></p>
                    <p class="fallback"><b>Start Time of Travel</b>:<input name="patientStartTime" type="time" id=patientStartTime></input></p>
                    <p class="fallback"><b>End Date of Travel</b>:<input name="patientEndDate" type="date" id=patientEndDate></input></p>
                    <p class="fallback"><b>End Time of Travel</b>:<input name="patientEndTime" type="time" id=patientEndTime></input></p>
                    <p><button id="submitRecordBtn" >SUBMIT</button></p>
            </div>

            <!-- Shown in interim while processing is in progress -->
            <div id="working" class="content-box hidden">
                <h2>Processing data...</h2>
                <div class="loading">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
                <p><span id="currentStatus">UPLOADING</span></p>
            </div>

            <!-- Content displayed once processing complete -->
            <div id="done" class="content-box hidden">
                <h2>CTracker | Heatmap - CoVID-19 Patient <span class="patientCnf">P01</span> Travel </h2>
                <p>Successfully processed recording of CoVID-19 patient <span class="patientCnf">P01</span> travel submitted by <span id="recorderCnf">AVS</span>.</p>
                <p>Your Referrence Number is: <h3 id="recordCnfId">1</h3></p>
                <p><button id="closeRecordBtn">CLOSE</button></p>
            </div>
        </div>
    </div>
    <!-- Appear when heatmap is displayed -->
    <div id="controls">
        <div class="title">
            CTracker
            <span>(hover for additional controls)</span>
        </div>
        <div class="control-block actions">
            <button id="makeRecording" class="control">Start Recording</button>
        </div>
        <div class="control-block actions hidden">
            <button id="submitRecording" class="control">Submit Recording</button>
        </div>
    </div>

    <!-- The map, populated by leaflet.js -->
    <div id="map"></div>
</div>

                </div>
            </section>

            <section>
                <div class="block content-1170 center-relative"> 
                    <h1 class="entry-title"><b>What is C Tracker?</b></h1>
                    <p class="page-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </section>

            <section>
                <div class="block content-1170 center-relative"> 
                    <h1 class="entry-title"><b>How it works?</b></h1>
                    <p class="page-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </section>

            <section>
                <div class="block content-1170 center-relative"> 
                    <h1 class="entry-title"><b>Download the app now!</b></h1>
                    <p class="page-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </section>

            <section>
                <div class="block content-1170 center-relative"> 
                    <h1 class="entry-title"><b>About Us</b></h1>
                    <p class="page-desc"><b>Phaethon Technologies</b> is a budding Deep Tech startup that is focused on using advanced technologies like Blockchain, IoT and Machine Learning to solve real-world problems and provide a new dimension for existing industrial processes. We’re developers from different verticals of the industry, our ideas are different, our strong suits are different and this diversity is what makes us special.</p>
                </div>
            </section>

            <!--Footer-->

            <footer class="footer">
                <div class="content-970 center-relative">			
                    <ul>
                        <li class="copyright-footer">
                        Copyright &copy; 2020 Phaethon Technologies
                        </li>
                        <li class="social-footer">                
                            <a href="#">
                                <span class="fa fa-facebook"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-twitter"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-linkedin"></span>
                            </a>
                        </li>            
                    </ul>
                </div>
            </footer>

            <!-- End .body-border -->
        </div>


        <!--Load JavaScript-->
        <script src="assets/js/jquery.js"></script>			                                       
        <script src='assets/js/jquery.fitvids.js'></script>
        <script src='assets/js/jquery.smartmenus.min.js'></script>
        <script src='assets/js/isotope.pkgd.js'></script>
        <script src='assets/js/imagesloaded.pkgd.js'></script>        
        <script src='assets/js/isotope.pkgd.js'></script>        
        <script src='assets/js/jquery.carouFredSel-6.0.0-packed.js'></script>
        <script src='assets/js/jquery.mousewheel.min.js'></script>
        <script src='assets/js/jquery.touchSwipe.min.js'></script>
        <script src='assets/js/jquery.easing.1.3.js'></script>
        <script src='assets/js/imagesloaded.pkgd.js'></script>
        <script src='assets/js/jquery.prettyPhoto.js'></script>
        <script src='assets/js/jquery.nicescroll.min.js'></script>
        <script src='assets/js/main.js'></script>
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/3.8.4/dropzone.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
        <script src="assets/lib/leaflet.heat.min.js"></script>
        <script src="assets/lib/prettysize.js"></script>
        <script src="assets/lib/oboe-browser.min.js"></script>
        <script src="assets/lib/leaflet.zoomdisplay.js"></script>
        <!-- Bootstrap JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <script src="assets/js/index.js?v=3"></script>

    </body>
</html>